@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

h1 {
    background-color: lightblue;
    color: red;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'DM Sans', 'Roboto', sans-serif;

}