.heading {
    font-size: 1.1rem;
    font-weight: bold;
    border-bottom: 1px solid rgba(167, 167, 167, 0.361);
}

.heading-mark::before {
    content: "➤";
    color: greenyellow;
    padding-right: 10px;
}

.mb-6 {
    padding-bottom: 30px;
}

.form-block {
    padding: 5px 15px;
    background-color: #1b1b30de;
    border: 1px solid rgba(245, 245, 245, 0.317);
    margin: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
    color: #f5f5f5cf;
}

.fancy-card {
    padding: 15px;
    width: 300px;
    margin: 30px;
}

.theme-dark {
    background-color: #1b1b30de;
    border-color: #1b1b30de;
    color: #f5f5f5;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

.theme-light {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: #1b1b30de;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

.border-bottom {
    border-bottom: 1px solid #f5f5f5;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #555555;
    overflow: hidden;
}

.user-avatar img {
    width: 100%;
}

.avatar-group {
    display: flex;
    position: relative;
    width: 100%;
    height: 40px;
}

.avatar-group>.user-avatar {
    --factor: 0;
    position: absolute;
    left: calc(var(--factor)*20px);
    transition: transform 0.3s;
}

.avatar-group>.user-avatar:hover {
    z-index: 1000;
    transform: translateY(-25%) scale(1.4);
}